@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * ((200px * 4) + (0.5rem * 8))));
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

html,
body {
  overflow-x: hidden;
}
